<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <h4>It's great to have you join us</h4>
        <p>Активуй свій акаунт.</p>
    </header>

    <div class="container">
        Якщо ви не реєструвались просто проігноруйте це повідомлення.
        <p>
            Перейдіть за посиланням -->
            <a href="{{frontUrl}}/activate?token={{token}}">Activate your account</a>
        </p>
    </div>

    <footer>
        <footer>

            <div class="row">

                <div class="column">

                    <h4>About Us</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in metus euismod, faucibus metus ut, semper nibh. Aenean euismod justo eu enim dapibus suscipit.</p>

                </div>

                <div class="column">

                    <h4>Quick Links</h4>

                    <ul>

                        <li><a href="#"><i class="fa fa-angle-right"></i> Subscription</a></li>

                        <li><a href="#"><i class="fa fa-angle-right"></i> Contact us</a></li>

                        <li><a href="#"><i class="fa fa-angle-right"></i> Bug report</a></li>

                    </ul>

                </div>

                <div class="column">

                    <h4>Connect with Us</h4>

                    <ul class="social-icons">

                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>

                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>

                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>

                        <li><a href="#"><i class="fa-brands fa-github"></i></a></li>

                    </ul>

                </div>

            </div>

            <p class="copyright">© 2023 All Rights Reserved</p>

        </footer>
    </footer>
</body>
</html>